html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  font-family: sans-serif;
}

h1 {
  margin: 0;
  padding: 1rem;

  border-bottom: 1px solid #ccc;
}

#interface {
  flex: 1;

  display: flex;
  flex-direction: row;

  overflow: hidden;
}

#textIn {
  flex: 0 0 80%;

  padding: 1rem;

  overflow-y: auto;
}

#info {
  flex: 0 0 20%;

  padding: 1rem;

  border-left: 1px solid #ccc;

  overflow-y: auto;
}

input {
  border: none;
  outline: none;
  background: transparent;

  font-size: 24px;

  min-width: 1ch;
  width: 1ch;
}

